html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: #ffffff;
    text-decoration: none;
}

body {
    background: #0b0b0b;
    color: #ffffff;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

/*Header*/

.header {
    height: 100vh;
    position: absolute;
    z-index: 5;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    right: 0;
}

.container {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 36px;
    margin-bottom: 29px;
}

.header-btn {
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
    margin-top: 31px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.header-btn:hover {
    background: #770302;
}

.header-btn div {
    width: 36px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
}

.header-content__title {
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 40px;
}

.header-content__text {
    width: 284px;
    margin-bottom: 25px;
}

.header-content__btn {
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 30px 62px;
    background: rgba(255, 255, 255, 0.1);
    transition: all .5s;
}

.header-content__btn:hover {
    background: #770302;
}

/*Slider top*/

.slider__item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider .slick-dots button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0b0b0b;
    border: 0;
    padding: 0;
    font-size: 0;
    outline: none;
    cursor: pointer;
}

.slider .slick-dots .slick-active button {
    background: #ffffff;
}

.slider .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slider .slick-dots {
    margin: -55px auto 0;
    position: relative;
    z-index: 6;
    max-width: 1200px;
}

/*Slider top END*/
















