html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: #ffffff;
    text-decoration: none;
}

body {
    background: #0b0b0b;
    color: #ffffff;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

/*Header*/

.header {
    height: 100vh;
    position: absolute;
    z-index: 5;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    right: 0;
}

.container {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 36px;
    margin-bottom: 29px;
}

.header-btn {
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
    margin-top: 31px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.header-btn:hover {
    background: #770302;
}

.header-btn div {
    width: 36px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
}

.header-content__title {
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 40px;
}

.header-content__text {
    width: 284px;
    margin-bottom: 25px;
}

.button {
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 30px 62px;
    background: rgba(255, 255, 255, 0.1);
    transition: all .5s;
}

.button:hover {
    background: #770302;
}

/*Menu*/

.menu {
    background: #000;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    transition: all .5s;
    z-index: 7;
}

.menu.active {
    left: 0;
}

.container-menu {
    position: relative;
}

.close-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 31px;
    right: 15px;
    cursor: pointer;
}

.close-btn::after,
.close-btn::before {
    content: '';
    width: 70px;
    height: 2px;
    background: #fff;
    position: absolute;
    transform-origin: left;
}

.close-btn::after {
transform: rotate(45deg);
}

.close-btn::before {
transform: rotate(-45deg);
    bottom: -1px;
}

.menu__list {
    height: 100vh;
    display: flex;
    align-items: center;
}

.menu__list ul {
    list-style: none;
}

.menu__list a {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    padding: 30px 25px 14px 0;
    border-bottom: 3px solid #B70021;
    display: inline-block;
    min-width: 368px;
    transition: all .5s;
}

.menu__list a:hover {
    border-color: #ffffff;
    color: #B70021;
    transform: scale(1.1);
    margin-left: 37px;
}

/*Menu END*/




/*Slider top*/

.slider__item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider .slick-dots button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0b0b0b;
    border: 0;
    padding: 0;
    font-size: 0;
    outline: none;
    cursor: pointer;
}

.slider .slick-dots .slick-active button {
    background: #ffffff;
}

.slider .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slider .slick-dots {
    margin: -55px auto 0;
    position: relative;
    z-index: 6;
    max-width: 1200px;
}

/*Slider top END*/

/*Statistics*/

.statistics {
    margin: 160px 0 100px;
}

.statistics-items {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.statistics-item {

}

.statistics-item__title {
    margin-bottom: 19px;
}

.statistics-item__num {
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 7px;
    font-family: 'Roboto', sans-serif;
}

.statistics-item__num span {
    font-size: 24px;
    line-height: 28px;
    margin-left: -20px;
}

.statistics-item__descr {
    color: #B70021;
}

.statistics-item__num--speed span {
    display: inline-block;
    position: relative;
}

.statistics-item__num--speed span::before {
    content: '+';
    position: absolute;
    font-size: 24px;
    line-height: 28px;
    top: -60px;
}

/*Statistics END*/

.video {
    margin-top: 100px;
}

.advantages {
    margin-top: 100px;
}

.advantages-inner__row {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.advantages__title {
    font-size: 36px;
    line-height: 42px;
    color: #B70021;
    position: absolute;
    top: 0;
}

.advantages__title--bottom {
    right: 0;
    bottom: 0;
    top: auto;
}

.advantages-descr {
    max-width: 570px;
    width: 100%;
}

.advantages__text {
    width: 303px;
}

.advantages__text ul {
    list-style: none;
}

/*Design*/

.design-row {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.design-row__item {
    max-width: 570px;
    width: 100%;
    padding-right: 17px;
    display: flex;
    justify-content: space-between;
}

.design-row__item-num {
    color: #B70021;
}

.design-row__item-text {
    padding-top: 28px;
    max-width: 450px;
}

.footer {
    margin-top: 100px;
    background: #690102;
    padding: 83px 0 20px;
}

.footer-btn {
    text-align: center;
    margin-bottom: 83px;
}

.footer-btn .button:hover {
    background: #0b0b0b;
}

.footer-copy {
    text-align: center;
    font-weight: 700;
}

.footer-copy ul {
    list-style: none;
}

.footer-copy li {
    display: inline-block;
    padding: 0 10px;
    position: relative;
}

.footer-copy li + li::before {
    content: '|';
    position: absolute;
    left: -5px;
}



























